<!DOCTYPE html >
<html lang="en"
      ng-app="angApp" >
<head >
    <title >Controllers</title >
    <link href="./libs/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet" >
    <link href="./libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet" >

    <link href="main.css"
          rel="stylesheet" >
</head >

<body data-ng-controller="angAppCtrl">

  <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container" >
          <div class="navbar-header" >
              <a class="navbar-brand"
                 href="/" >Registration
              </a >
          </div >
          ,
      </div >
  </nav >

  <div class="container main-content" >

      <form ng-submit="registerClicked(theForm.$valid)"
            name="theForm"
            novalidate="novalidate">
          <div  class="form-group">
              <label for="name">Name</label>
              <input class="form-control"
                     type="name"
                     id="name"
                     data-ng-model="formModel.name"
                     required="required"
              />
          </div>

          <div class="form-group" ng-class="{'has-error': !theForm.email.$valid && (!theForm.$pristine || theForm.$submitted), 'has-success': theForm.email.$valid && !theForm.$pristine}">
              <label for="email">Email</label>
              <input class="form-control"
                     type="email"
                     id="email"
                     data-ng-model="formModel.email"
                     required="required"
                     name="email"
              />
              <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
                  This field is required
              </p>

              <p class="help-block" ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted) ">
                  Please enter a valid email
              </p>
          </div>

          <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control"
                     type="password"
                     data-ng-model="formModel.password"
                     required="required"
              />
          </div>

          <div class="form-group">
              <label for="sex">Sex</label>
              <select name="sex"
                      id="sex"
                      class="form-control"
                      ng-model="formModel.sex">
                  <option value="">Please Choose</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
          </div>
          <div class="form-group">
              <button type="submit" ladda="submitting" data-style="expand-right" class="btn btn-primary">{{submitting ? 'Registering' : "Register"}}</button>
          </div>
          <pre>{{ theForm | json }}</pre>
      </form>
  </div>
</body>
  <script></script>
  <script src="./libs/angular/angular.min.js" ></script>
  <script src="./libs/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
  <script src="./libs/ladda/dist/spin.min.js" ></script>
  <script src="./libs/ladda/dist/ladda.min.js" ></script>
  <script src="./libs/angular-ladda/dist/angular-ladda.min.js" ></script>
  <script src="./src/client/index.js"></script>
</html >
